@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome To A Test ASP.NET 4.8 App</h1>
    <p class="lead">A Short Application Description</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col my-1">
        <div class="card shadow rounded-3 my-5 h-100">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold">Welcome</h5>
                <p>Fames ac turpis egestas integer eget aliquet.</p>
            </div>
        </div>
    </div>
    <div class="col my-1">
        <div class="card shadow rounded-3 my-5 h-100">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold">About</h5>
                <p>Rutrum quisque non tellus orci ac auctor augue mauris.</p>
            </div>
        </div>
    </div>
    <div class="col my-1">
        <div class="card shadow rounded-3 my-5 h-100">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold">Demo</h5>
                <p>Id aliquet lectus proin nibh nisl condimentum id venenatis a.</p>
            </div>
        </div>
    </div>
</div>

